<div id="splash">
    <span>
      <p>
        <em>&ldquo; when you don't create things, you become defined by
    your tastes rather than ability. your tastes only
    narrow & exclude people. so create&rdquo;</em>
        <br/>-- why, the lucky stiff
      </p>
    </span>
</div>    

